<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-store" />
    <title>Booking</title>

    <link href="bootstrap-4.5.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="bootstrap-4.5.2-dist/js/jquery-slim.min.js"></script>
    <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->

</head>
<body> <!--class="d-flex justify-content-center"-->
    <div id="components">
        <span v-if="loginHome">
            <testa></testa>
            <article class="text-center">
                <hr><h4>Applicazione delle prenotazioni - Unito</h4><hr>
                <br>
                    <p>Amministratore - Cliente</p>

                <p>Account : <input v-model="acc" type="text" required placeholder="account"/></p>
                <p>Password : <input v-model="pass" type="password"  required placeholder="password"/></p>
                <button v-on:click="ServletController('login')">Autentica </button>
                    <template v-if="checkA">
                        <span class="badge badge-success">Successo</span>
                        <br>
                        <p>Benvenuto {{ acc }} [Amministratore]</p>
                    </template>
                    <template v-if="check">
                        <span class="badge badge-success">Successo</span>
                        <br>
                        <p>Benvenuto {{ acc }} [Cliente]</p>
                    </template>
                <template v-if="checkE">
                    <span class="badge badge-danger">Errore nel login</span>
                </template>
                <br><br><br><br><br>
                <hr>
            </article>
            <centro-login v-on:ospite-inner="transit('ospiteHome')" v-on:creazione-inner="transit('creazione')" class="text-center" ></centro-login>
        </span>


        <span v-if="creazionehome">
            <testa title="Benvenuto" v-on:log-inner="transit"></testa>
            <article>
                <br>
                    <ul>
                        <li>
                            Benvenuto nell'area di registrazione. Crea il tuo account
                        </li>
                    </ul>
                    <p>Account: <input v-model="newacc" type="text" required placeholder="account"/></p>
                    <p>Password: <input v-model="newpass" type="password" required placeholder="password"/></p>
                    <button v-on:click="crea">Crea account </button>
                    <template v-if="checkC">
                        <p>Cliente Benvenuto!</p>
                        <p><span class="badge badge-success">Successo</span> Account creato</p>
                    </template>
            </article>
        </span>


        <span v-if="homeCliente">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="https://www.unito.it/">UniTO</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" type="button" v-on:click="transit('clienteHome')">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Prenotazioni</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Ripetizioni</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            <Cliente v-if="checkCl" v-on:transit-inner-prenotazioni="transit('prenotazioni')" v-on:transit-inner-docenti="transit('docenti')" v-on:transit-inner-ripetizioni="transit('ripetizioni')" v-on:transit-inner-logout="transit('logout')"></Cliente>
            <div v-if="stampaD" v-for="docenti in printD" class="container">
                <hr>
                <p>{{docenti.nome}}, {{docenti.cognome}}, {{docenti.iddocente}}</p>
            </div>
            <div v-if="stampaR" v-for="ripetizioni in printR" class="container">
                <hr>
                <p>{{ripetizioni.docente}}, {{ripetizioni.corso}}, {{ripetizioni.data}}, {{ripetizioni.ora}}, {{ripetizioni.status}}</p>
            </div>
            <div class="container" v-if="logout" >
                <span class="badge bg-warning text-dark">Attenzione:</span>
                <p> Logout effettuato con successo</p>
            </div>
        </span>

        <span v-if="homeOspite">
            <div id="nav">
                <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                  <!-- Navbar content -->
                </nav>
            </div>
            <testa title="Bentornato" v-on:log-inner="transit"></testa>
        </span>
    </div>

    <script>
        <!--VueLogin-->
        Vue.component('testa',{
            props: ['title'],
            template:'<header><h3 class="text-center">{{ title }}</h3><br></header>',
            methods: {
                logInner: function () {
                    this.$emit('log-inner');
                },
            }
        })
        Vue.component('centro-login',{
            template:'<article>' +
                    '     <p>Non hai ancora un account? <button type="button" class="btn btn-outline-info" v-on:click="creazioneInner"> Crea account</button>' +
                    '     Oppure entra come  <button type="button" class="btn btn-outline-info" v-on:click="ospiteInner">Ospite </button></p>' +
                    '</article>',
            methods: {
                creazioneInner: function (){
                    this.$emit('creazione-inner');
                },

                ospiteInner: function (){
                    this.$emit('ospite-inner');
                }
            }
        })


        Vue.component('Cliente',{
            template:
                '<article class="container">' +
                '    <br><br><h5>Scegli l\'opzione che desideri</h5>' +
                '            <ul>\n' +
                '            <li>\n' +
                '                <button class="btn btn-outline-secondary" v-on:click="transitPrenotazioni">Le  mie prenotazioni attive</button>\n' +
                '            </li>\n' +
                '            <br>\n' +
                '            <li>\n' +
                '                <button class="btn btn-outline-secondary" v-on:click="transitDocenti">Visualizzare i docenti presenti</button>\n' +
                '            </li>\n' +
                '            <br>\n' +
                '            <li>\n' +
                '                <button class="btn btn-outline-secondary" v-on:click="transitRipetizioni">Visualizzare le ripetizioni disponibili</button>\n' +
                '            </li>\n' +
                '            <br>\n' +
                '            <li>\n' +
                '                <button class="btn btn-outline-danger" v-on:click="transitLogout">Logout</button>\n' +
                '            </li>\n' +
                '       </ul>\n' +
                '</article>',
            methods: {
                transitPrenotazioni: function () {
                    this.$emit('transit-inner-prenotazioni');
                },
                transitDocenti: function () {
                    this.$emit('transit-inner-docenti');
                },
                transitRipetizioni: function () {
                    this.$emit('transit-inner-ripetizioni');
                },
                transitLogout: function () {
                    this.$emit('transit-inner-logout');
                }
            }
        })
        var app = new Vue ({
            el: '#components',
            data: {
                loginHome: true, acc: null, pass: null, role: 'Ospite', check: false, checkA: false, checkE: false,
                homeAmministratore: false, logout: false, checkL: false,
                homeOspite: false,
                homeCliente: false, checkCl: false, printD: [], printR: [], stampaD: false, stampaR: false,
                creazionehome: false, newacc: null, newpass:null, checkC: false, print: '',

                link: 'ServletController'
            },
            methods: {
                ServletController: function (flag){
                    var self = this;
                    $.post(this.link, {account: this.acc, password: this.pass, action: flag}, function (data) {
                        //Sezione Servlet Login
                        if(flag === 'login'){
                            switch (data) {
                                case 'sono amministratore':
                                    self.role = 'Amministratore';
                                    self.checkA = true;
                                    self.checkE = false;
                                    self.check = false;
                                    setTimeout(() => {
                                        self.transit("homeAmministratore");
                                    }, 2300);
                                    break;
                                case 'sono cliente':
                                    self.role = 'Cliente';
                                    self.check = true;
                                    self.checkA = false;
                                    self.checkE = false;
                                    setTimeout(() => {
                                        self.transit("clienteHome");
                                    }, 2300);
                                    break;
                                case 'errore':
                                    self.check = false;
                                    self.checkA = false;
                                    self.checkE = true;
                                    break;
                            }
                        //Sezione Servlet Login, creazione utente
                        }else if(flag === 'crea'){
                            self.checkC = true;
                            setTimeout(() => {
                                self.transit('loginHome');
                            }, 2000);
                            //Sezione Servlet/Docenti, stampa dei docenti per i clienti
                        }else if(flag === 'DocentiCliente'){
                            self.printD = data;
                            //Sezione Servlet/Ripetizioni, stampa delle ripetizioni per i clienti
                        }else if(flag === 'RipetizioniCliente'){
                            self.printR = data;
                            //Sezione Servlet/Logout
                        }else if(flag === 'logout'){
                            self.logout = true;
                            setTimeout(() => {
                                self.transit("loginHome");
                            }, 2300);

                        }
                    })
                },
                transit: function (flag) {
                    if(flag === 'creazione') {
                        this.loginHome = false;
                        this.creazionehome = true;
                    }else if(this.loginHome && flag === 'ospiteHome'){
                        this.loginHome = false;
                        this.homeOspite = true;
                    }else if(flag === 'logout') {
                        this.ServletController("logout");
                    }else if(flag === 'loginHome') {
                        this.loginHome = true;
                        this.creazionehome = false;
                        this.homeCliente = false;
                        this.logout = false;
                        this.check = false;
                        this.checkA = false;
                    }else if(flag === 'clienteHome'){
                        this.loginHome = false;
                        this.homeCliente = true;
                        this.checkCl = true;
                        this.stampaD = false;
                        this.stampaR = false;
                    }else if(flag === 'docenti'){
                        this.checkCl = false;
                        this.stampaD = true;
                        this.ServletController("DocentiCliente");
                    }else if(flag === 'ripetizioni'){
                        this.checkCl = false;
                        this.stampaR = true;
                        this.ServletController("RipetizioniCliente");
                    }

                },

            }
        })
    </script>
</body>
</html>

