<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-store" />
    <title>Booking</title>

    <link href="bootstrap-4.5.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="bootstrap-4.5.2-dist/js/jquery-slim.min.js"></script>
    <script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->

</head>
<body> <!--class="d-flex justify-content-center"-->
    <div id="components">
        <span v-if="loginHome">
            <testa></testa>
            <article class="text-center">
                <hr><h4>Applicazione delle prenotazioni - Unito</h4><hr>
                    <p>Amministratore - Cliente</p>

                <p>Account : <input v-model="acc" type="text" required placeholder="account"/></p>
                <p>Password : <input v-model="pass" type="password"  required placeholder="password"/></p>
                <button v-on:click="log">Autentica </button>
                <template v-if="check">
                    <template v-if="checkA">
                        <span class="badge badge-success">Successo</span>
                        <br>
                        <p>Benvenuto {{ acc }} [Amministratore]</p>
                    </template>
                    <template v-else>
                        <span class="badge badge-success">Successo</span>
                        <br>
                        <p>Benvenuto {{ acc }} [Cliente]</p>
                    </template>
                </template>
                <template v-if="checkE">
                    <span class="badge badge-danger">Errore nel login</span>
                </template>
                <hr>
            </article>
            <centro v-on:ospite-inner="transit('ospiteHome')" v-on:creazione-inner="transit('creazione')" class="text-center" ></centro>
            <piedi></piedi>
        </span>


        <span v-if="creazionehome">
            <testa title="Benvenuto" v-on:log-inner="transit"></testa>
            <article>
                <br>
                    <ul>
                        <li>
                            Benvenuto nell'area di registrazione. Crea il tuo account
                        </li>
                    </ul>
                    <p>Account: <input v-model="newacc" type="text" required placeholder="account"/></p>
                    <p>Password: <input v-model="newpass" type="password" required placeholder="password"/></p>
                    <button v-on:click="crea">Crea account </button>
                    <template v-if="checkC">
                        <p>Cliente Benvenuto!</p>
                        <p><span class="badge badge-success">Successo</span> Account creato</p>
                    </template>
            </article>
        </span>


        <span v-if="homeCliente">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">UniTO</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Prenotazioni</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Ripetizioni</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            <Cliente></Cliente>
        </span>

        <span v-if="homeOspite">
            <div id="nav">
                <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                  <!-- Navbar content -->
                </nav>
            </div>
            <testa title="Bentornato" v-on:log-inner="transit"></testa>
        </span>
    </div>

    <script>
        Vue.component('testa',{
            props: ['title'],
            template:'<header><h3 class="text-center">{{ title }}</h3><br></header>',
            methods: {
                logInner: function () {
                    this.$emit('log-inner');
                },
            }
        })
        Vue.component('centro',{
            template:'<article>' +
                    '     <p>Non hai ancora un account? <button type="button" class="btn btn-outline-info" v-on:click="creazioneInner"> Crea account</button></p>' +
                    '     <p>Oppure entra come  <button type="button" class="btn btn-outline-info" v-on:click="ospiteInner">Ospite </button></p>' +
                    '</article>',
            methods: {
                creazioneInner: function (){
                    this.$emit('creazione-inner');
                },

                ospiteInner: function (){
                    this.$emit('ospite-inner');
                }
            }
        })
        Vue.component('Cliente',{
            template:
                '<article class="container">' +
                '    <br><br><h5>Scegli l\'opzione che desideri</h5>' +
                '        <ul>\n' +
                '            <li>\n' +
                '                <button type="submit" class="btn btn-outline-secondary" name="action" value="printdoce">Visualizzare i docenti</button>\n' +
                '            </li>\n' +
                '            <br>\n' +
                '            <li>\n' +
                '                <button type="submit" class="btn btn-outline-secondary" name="action" value="printripe">Visualizzare le ripetizioni</button>\n' +
                '            </li>\n' +
                '            <br>\n' +
                '            <li>\n' +
                '                <button type="submit" class="btn btn-outline-danger" name="action" value="logout">Logout</button>\n' +
                '            </li>\n' +
                '       </ul>\n' +
                '</article>',
        })
        var app = new Vue ({
            el: '#components',
            data: {
                loginHome: false, acc: null, pass: null, role: 'Ospite', check: false, checkA: false, checkE: false,
                homeOspite: false,
                homeCliente: true,
                creazionehome: false, newacc: null, newpass:null, checkC: false, print: '',
                link: 'login'
            },
            methods: {
                log: function(){
                    var self = this;
                    $.post(this.link, {account: this.acc, password: this.pass, flag: 'login'}, function (data) {
                            switch (data) {
                                case 'sono amministratore':
                                    self.role = 'Amministratore';
                                    self.check = true;
                                    self.checkA = true;
                                    self.checkE = false;
                                    setTimeout(() => {
                                        self.transit();
                                    }, 2500);
                                    break;
                                case 'sono cliente':
                                    self.role = 'Cliente';
                                    self.check = true;
                                    self.checkA = false;
                                    self.checkE = false;
                                    setTimeout(() => {
                                        self.transit("clienteHome");
                                    }, 2500);
                                    break;
                                default:
                                    self.check = false;
                                    self.checkA = false;
                                    self.checkE = true;
                            }
                    })
                },
                transit: function (flag) {
                    if(flag === 'creazione') {
                        this.loginHome = false;
                        this.creazionehome = true;
                    }else if(this.loginHome && flag === 'ospiteHome'){
                        this.loginHome = false;
                        this.homeOspite = true;
                    }else if(flag === 'loginHome') {
                        this.loginHome = true;
                        this.creazionehome = false;
                    }else if(flag === 'clienteHome'){
                        this.loginHome = false;
                        this.homeCliente = true;
                    }
                },
                crea: function (){
                    var self = this;
                    $.post(this.link, {account: this.newacc, password: this.newpass, flag: 'crea'}, function (data) {
                        self.checkC = true;
                        setTimeout(() => {
                            self.transit('loginHome');
                        }, 2500);
                    })
                },
            }
        })
    </script>
</body>
</html>

